@import "../node_modules/bootstrap/scss/bootstrap";

/* Variables SCSS */
$fuente-principal: 'Inter', sans-serif;
$color-principal: #27a770;
$color-secundario: #504847;
$color-terciario: #ffffff;
$color-cuaternario: #f8f9fa;

/* Variables CSS para uso dinámico */
:root {
  --primary: #{$color-principal};
  --secondary: #{$color-secundario};
  --tertiary: #{$color-terciario};
  --background: #{$color-cuaternario};
}

/* Modo oscuro */
body.dark-mode {
  --primary: #90caf9;
  --secondary: #ffffff;
  --tertiary: #121212;
  --background: #121212;
}

.breadcrumb a {
    color: var(--secondary);
}
.breadcrumb .active {
    color: var(--secondary);
}

/* Aplicamos la fuente y colores mediante variables CSS */
body {
    font-family: $fuente-principal;
    color: var(--secondary);
    background-color: var(--background);

    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex-grow: 1;
}

/* Colores corporativos */
.bg-foot-green {
    background-color: var(--primary);
}

.text-foot-green {
    color: var(--primary);
}

/* Botón "Registrarse" */
.btn-foot-form-enviar {
    background-color: var(--primary);
    color: var(--tertiary);
    font-weight: 600;
    border: 1px solid var(--primary);
}
.btn-foot-form-enviar:hover {
    background-color: var(--tertiary);
    color: var(--primary);
    border-color: var(--primary);
}

/* Botón registro en header */
.btn-foot-register-header {
    background-color: var(--tertiary);
    color: var(--primary);
    font-weight: 600;
    border: 1px solid var(--tertiary);
}
.btn-foot-register-header:hover {
    background-color: var(--background);
    color: var(--primary);
    border-color: var(--background);
}

/* Iconos del footer */
.footer-social-icon {
    font-size: 1.5rem;
    color: var(--tertiary);
    transition: color 0.2s;
}
.footer-social-icon:hover {
    color: #dddddd;
}
