{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplicación web para gestionar y analizar el rendimiento de tu equipo de fútbol de forma sencilla y dinámica.">
    <meta name="keywords" content="footmanager, football, soccer, fútbol, análisis de datos, equipo">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    
    <!-- Carga de Bootstrap CSS -->
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" xintegrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Carga de Bootstrap Icons -->
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.min.css' %}">

    <!-- Carga de archivo estático styles.css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    {% include "includes/header.html" %}
    {% if breadcrumbs %}
    <nav aria-label="breadcrumb" class="container my-3">
        <ol class="breadcrumb">
            {% for crumb in breadcrumbs %}
                {% if crumb.url %}
                    <li class="breadcrumb-item">
                        <a href="{{ crumb.url }}" class="text-secondary text-decoration-none">
                            {{ crumb.name }}
                        </a>
                    </li>
                {% else %}
                    <li class="breadcrumb-item active text-secondary" aria-current="page">
                        {{ crumb.name }}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    {% endif %}


    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include "includes/footer.html" %}

    
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}" xintegrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'fullcalendar/dist/index.global.min.js' %}"></script>

</body>
</html>