{% load static %}
<header>
        <!-- Navbar de Bootstrap -->
        <nav class="navbar navbar-expand-lg bg-foot-green navbar-dark shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="{% url 'landing' %}">
                <img src="{% static 'img/logo.png' %}" alt="FootManager Logo" style="height: 70px;">
                </a>
                <!-- Botón de hamburguesa para móviles -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <!-- Contenido del Navbar -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- Enlaces de la izquierda -->
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <button id="themeToggle" class="btn btn-outline-secondary">
                                Modo oscuro
                            </button>
                        </li>
                        <li class="nav-item">
                            <button id="" class="">
                                Cambiar idioma
                            </button>
                        </li>
                    </ul>
                    
                    <!-- Enlaces de la derecha -->
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:login' %}">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item ms-lg-3">
                            <a class="btn btn-foot-register rounded-3 px-3 py-2" href="{% url 'usuarios:signin' %}">Registrarse</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>