{% extends "includes/base.html" %}
{% load static %}
{% block title %}FutDataManager - Inicio{% endblock %}
{% block content %}
<div class="container my-5">

            <!-- Sección Título -->
            <section class="text-center col-lg-8 mx-auto mb-5 py-5">
                <h1 class="display-4 fw-bold text-foot-darkgray mb-3">¡Bienvenid@ {{ user.first_name }}!</h1>
                <p class="fs-5 text-secondary">
                    Actualmente no perteneces a ningún equipo.
                </p>
            </section>

            <!-- 2. Lista de Opciones -->
    <section class="row justify-content-center">
        <div class="col-lg-8">
            <div class="d-flex flex-column gap-5">
                
                <!-- Opción A: Historial -->
                <div>
                    <!-- Usamos text-primary (que es tu verde) para los títulos -->
                    <h2 class="h4 text-foot-green mb-2">Equipos donde ha jugado</h2>
                    <p class="fs-5 text-secondary mb-0">Listado de equipos donde ha jugado</p>
                </div>

                <!-- Opción B: Estadísticas -->
                <div>
                    <h2 class="h4 text-foot-green mb-2">Estadísticas generales</h2>
                    <p class="fs-5 text-secondary mb-0">Listado de estadísticas del jugador</p>
                </div>

                <!-- Opción C: Buscador -->
                <div>
                    <h2 class="h4 text-foot-green mb-2">Equipos registrados</h2>
                    <p class="fs-5 text-secondary mb-0">Listado de equipos en la base de datos</p>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}